/* @import url("pico.jade.min.css"); */
@import url("pico.jade.css");
@import url("pico.colors.css");

/* h1 {
    color: var(--pico-color-jade-800);
} */

/* h2 {
    color: var(--pico-color-jade-500);
} */
p {
    color:var(--pico-muted-color);
}

header {
    position: sticky; top: 0;
    height: 110px;
    background-color: var(--pico-background-color);
    opacity: .98;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.footer-text {
    text-align: center;
    font-size: 50%;
}
.focus {
    text-align:center;
}

.multicolour-text {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to top right,
    #004689,
    #007f89,
    #00895a,
    #008921,
    #188900);
    -webkit-background-clip: text;
    color: transparent;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.article-fixed {
    height: 90%
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-rows: auto auto; */
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }

.article-card {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    gap: 30px; /* Space between image and text */
    
}

.image-column {
    
    max-width:auto;
    max-height:15rem;
    overflow: hidden; 
    border-radius: 10px; /* Rounded corners for the rectangle */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.image-column img {
    max-width: auto;
    max-height: 15rem; /* Maintain aspect ratio */
    display: block; /* Ensure the image does not add inline space */
    
    }

.text-column {
flex: 1; /* The text takes up the remaining space */
}

@media (max-width: 1000px) {
    .article-card {
      flex-direction: column; /* Stack the image and text on smaller screens */
    }
  }