/* @import url("pico.jade.min.css"); */
@import url("pico.jade.css");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");

/* Font */
:root {
    --pico-font-size: .9rem; 
    --pico-spacing: .9rem;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--pico-muted-color);
}

body {
    font-family: 'Figtree', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Figtree', sans-serif;
    /* Ensure Figtree is used for headings */
    font-weight: 500;
    /* Adjust weight for bolder headings */
}

.long-logo {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
}

.section-title {
    /* margin: 0 auto;/ */
    /* align-items: center; */
    text-align: center;
    margin-top: 12px;
}
.svg-fill-direct {
    fill: var(--pico-background-color);
    /* Use the CSS variable directly */
}

header {
    position: sticky;
    top: 0;
    /* height: 4.5rem; */
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    background-color: var(--pico-background-color);
    align-items: top;
    opacity: .95;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure header stays above other content */
}

nav {
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

nav ul li {
    margin-right: 1rem; /* Adjust spacing between items */
    padding: 0; /* Remove or reduce padding */
    padding-top: 2px;
  }

.menu {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: right;
    /* align-items: flex-start; */
    /* list-style: none; */
    margin: 0;
  }

@media (max-width: 500px) {
    .menu li {
      flex: 1 1 100%;
    }
  }

  @media (max-width: 700px) {
    .article-card {
        flex-direction: column;
        /* Stack the image and text on smaller screens */
        /* text-align: center; */
    }
    .image-column {
        margin: 0 auto;
    }
}

.footer-text {
    text-align: center;
    font-size: 50%;
}

.focus {
    margin-top: 3rem;
    margin-bottom: 45%;
    text-align: center;
    animation: fadeIn 2s ease forwards;
    /* 2s fade-in animation */
}

.logo {
    height: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.icon-label {
    text-align: center;
    font-size: 60%;

}
.icon {
    height: 2rem;
    /* stroke: var(--pico-h2-color); */
    fill: var(--pico-h2-color);
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.multicolour-text {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to top right,
    #004689,
    #007f89,
    #00895a,
    #008921,
    #188900);
    -webkit-background-clip: text;
    color: transparent;
}

/* .multicolour-text {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to top right,
            #d34317,
            #d45a10,
            #d56f0b,
            #d4810d,
            #d39317);
    -webkit-background-clip: text;
    color: transparent;
} */

a.anchor {
    /* display: block; */
    position: relative;
    top: -100px;
    visibility: hidden;
}

.article-fixed {
    height: 80%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.slow-transition {
    opacity: 0;
    /* Initially hidden */
    animation: fadeIn 0.5s ease forwards 0.5s;
    /* 2s fade-in animation */
}

.fast-transition {
    opacity: 0;
    /* Initially hidden */
    animation: fadeIn .5s ease forwards;
    /* 2s fade-in animation */
}

/* Keyframes for the fade-in effect */
@keyframes fadeIn {
    to {
        opacity: 1;
        /* Fully visible */
    }
}

.image-grid {
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."; 
  }

.display-box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    max-width: 900px;
    /* height: 600px; */
    margin: 0 auto;
    margin-bottom: 30px;
}

.display-card {
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.article-card {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    /* Align items to the top */
    gap: 30px;
    /* Space between image and text */
    max-width: 900px;
}

.image-column {
    max-width: 10rem;
    /* max-height: 15rem; */
    overflow: hidden;
    border-radius: 6px;
    /* Rounded corners for the rectangle */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.image-column img {
    max-width: 10rem;
    /* max-height: auto; */
    vertical-align: middle;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure the image does not add inline space */
}

.focus-image {

    max-width: 900px;
    width: 100%;
    /* max-height: 15rem; */
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 2rem;
    /* Rounded corners for the rectangle */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.focus-image img {
    max-width: 900px;
    width: 100%;
    max-height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure the image does not add inline space */
}

.text-column {
    flex: 1;
    /* The text takes up the remaining space */
}

.image-full{
    max-width: auto;
    max-height:40rem;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.image-full img {
    max-width: auto;
    max-height: 15rem;
    /* Maintain aspect ratio */
    display: block;
    /* Ensure the image does not add inline space */
}