@import url("pico.jade.min.css");

/* Font */
:root {
    --pico-font-size: .9rem;
    --pico-spacing: .9rem;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--pico-muted-color);
}

.warning {
    color: red;
}

.contact {
    padding-left: 1rem;
}

@font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree-Regular.woff2') format('woff2'),
         url('fonts/Figtree-Regular.woff') format('woff');
    font-style: normal;
  }

  @font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree-Italic.woff2') format('woff2'),
         url('fonts/Figtree-Italic.woff') format('woff');
    font-style: italic;
  }

  @font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree-Medium.woff2') format('woff2'),
         url('fonts/Figtree-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Figtree';
    src: url('fonts/Figtree-SemiBold.woff2') format('woff2'),
         url('fonts/Figtree-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
  }

body {
    font-family: 'Figtree', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.container-sidebar {
    margin-right: 200px;
}

.sidebar {
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 30px;
    margin: 0 auto;
}

aside {
    position: fixed;
    right: 0;
    width: 240px;
    height: 30%;
    z-index: 500;
    padding: .5rem;
}

aside nav {
    list-style: none;
    text-align: left;
    line-height: 50%;
}

aside nav a {
    color: var(--pico-muted-color);
}

/* aside nav a::before {
    content: "| "
  } */
/* Highlight the active menu item using :target */

.highlight {
    font-weight: bolder;
}

.highlight a {
    color: var(--pico-primary);
}

.long-logo {
    display: flex;
    align-items: flex-end;
    /* Align items to the bottom */
}

.section-title {
    text-align: center;
    margin-top: 12px;
}

.svg-fill-direct {
    fill: var(--pico-background-color);
}

header {
    position: sticky;
    top: 0;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    background-color: var(--pico-background-color);
    align-items: top;
    opacity: .95;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure header stays above other content */
}

nav {
    display: flex;
    align-items: flex-end;
    /* Align items to the bottom */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
    padding: 0;
    padding-top: 2px;
}

.menu {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: right;
    margin: 0;
}

@media (max-width: 500px) {
    .menu li {
        flex: 1 1 100%;
    }
}

@media (max-width: 700px) {
    .article-card {
        flex-direction: column;
    }

    .image-column {
        margin: 0 auto;
    }

    aside {
        display: none;
    }

    .container-sidebar {
        margin-right: 0;
    }
}

.footer-text {
    text-align: center;
    font-size: 50%;
}

.focus {
    margin-top: 3rem;
    margin-bottom: 5%;
    text-align: center;
    animation: fadeIn 2s ease forwards;
}

.logo {
    height: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.icon-label {
    text-align: center;
    font-size: 60%;

}

.icon {
    height: 2rem;
    fill: var(--pico-h2-color);
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.multicolour-text {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to top right,
            #004689,
            #007f89,
            #00895a,
            #008921,
            #188900);
    -webkit-background-clip: text;
    color: transparent;
}

/* .multicolour-text {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to top right,
            #d34317,
            #d45a10,
            #d56f0b,
            #d4810d,
            #d39317);
    -webkit-background-clip: text;
    color: transparent;
} */

a.anchor {
    position: relative;
    top: -100px;
    visibility: hidden;
}

.article-fixed {
    height: 80%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.contact-fixed {
    height: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.slow-transition {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards 0.5s;
}

.fast-transition {
    opacity: 0;
    animation: fadeIn .5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.image-grid {
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
}

.display-box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.display-card {
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.article-card {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 30px;
    max-width: 900px;
}

.contact-card {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 30px;
    max-width: 400px;
}

.text-column ul {
    padding: 0;
}

.text-column ul li {
    list-style: none;
}

.text-column ul li a{
    text-decoration: none;
}

.custom-accordion {
    max-width: 150px; /* Adjust this to your desired width */
}

.custom-accordion a {
    font-weight: bold;
}

.image-column {
    max-width: 10rem;
    overflow: hidden;
    border-radius: 6px;
}

.image-column img {
    max-width: 10rem;
    display: block;
}

.small-focus-image {
    max-width: 10rem;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.small-focus-image img {
    max-width: 10rem;
    display: block;
}

.focus-image {

    max-width: 900px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.focus-image img {
    max-width: 900px;
    width: 100%;
    max-height: auto;
    display: block;
}

.text-column {
    flex: 1;
    list-style: none;
}

.image-full {
    max-width: auto;
    max-height: 40rem;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.image-full img {
    max-width: auto;
    max-height: 15rem;
    display: block;
}